@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: inherit;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

button {
  cursor: inherit;
}

.icon {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
}

.icon:hover {
  color: rgba(255, 255, 255, 0.9);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.profile-pic {
  position: absolute;
  bottom: 0;
  right: 50px;
  transition: all 0.2s;
  opacity: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .profile-pic {
    position: absolute;
    /* bottom: 0; */
    top: 30px;
    right: -250px;
    transition: all 0.2s;
    opacity: 0;
    width: 100%;
    height: auto;
  }
}

.profile-pic.animate {
  animation: profile 0.8s linear forwards;
}

.profile-pic.show {
  opacity: 0.8;
}

.profile-pic.hide {
  transform: rotateZ(10deg) translateX(20vh);
}

@media (max-width: 768px) {
  .profile-pic.hide {
    transform: rotateZ(10deg) translateX(5vh);
  }
}

.profile-pic.hidden {
  display: none;
}

@keyframes profile {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  @keyframes profile {
    0% {
      /* top: 100vh; */
      right: -250px;
      opacity: 0;
    }
    100% {
      /* top: 30px; */
      right: -250px;
      opacity: 0.8;
    }
  }
}

.loading-profile-pic {
  position: relative;
  bottom: -500px;
  right: 50px;
  opacity: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .loading-profile-pic {
    position: absolute;
    bottom: -500px;
    right: -250px;
    opacity: 0;
    width: 100%;
    height: auto;
  }
}

.loading-profile-pic.show {
  animation: loading 0.8s linear forwards;
}

@media (max-width: 768px) {
  .loading-profile-pic.show {
    animation: loading 0.0s linear forwards;
  }
}

.loading-profile-pic.hidden {
  display: none;
}

@keyframes loading {
  0% {
    opacity: 0.8;
  }
  99% {
    bottom: 0;
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
